# Frontend API Configuration
VITE_APP_BASE_URL="https://teclearn-educational-website.onrender.com/api/v1"
REACT_APP_BASE_URL="https://teclearn-educational-website.onrender.com/api/v1"

# Razorpay Test Key (Client-side)
VITE_RAZORPAY_KEY="rzp_test_TKzVocnmAsHlcK"
